body{
  background: linear-gradient(#006D00,#27B627);
}
/*-----header------*/
.jumbotron {
  background-image: url("../img/woodgrain4.jpg");
  background-position: center;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Zeyada', cursive;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}
#enhance {
  margin-left: 8em;
}
#beauty {
  margin-left: 16em;
}
#memory {
  margin-left: 2em;
  font-size: 185px;
  font-weight: bolder;
}
/*-------navbar--------*/
#turn-text, #turns{
  display: none;
}
.navSection {
  height: 95px;
  background-color: #57D757;
}
#start-text{
  color: #004E00;
  margin-left: 160px;
}
#startButton {
  background-color: #004E00;
  margin-left: 160px;
  color: #57D757;
  padding: 10px;
}
#clock-text{
  color: #004E00;
  margin-left: 100px;
}
#clock {
  width: 70px;
  text-align: center;
  color: #57D757;
  background-color: #004E00;
  margin-left: 100px;
  padding: 10px;
}
#turn-text{
  color: #004E00;
  margin-left: 100px;
}
#turns {
  width: 60px;
  text-align: center;
  color: #57D757;
  background-color: #004E00;
  margin-left: 100px;
  padding: 10px;
}
.gameRules{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  color: #004E00;
}
.gameRules p {
  margin-left: -500px;
}
.rules-title, .rules-illustration{
  color: #EDE76D;
}
.rules-illustration{
  font-size: 26px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
.rules-text{
  color: #EDE76D;
  background-color: #57D757;
  margin-right: 20px;
  height: 70px;
  font-size: 20px;
  padding: 8px;
}
.rules-text, .publishers-text:hover{
  color: #FFFA00;
  text-decoration: underline;
}
.rules-info{
  color: #A67239;
}
#rules-text-1, #rules-text-2{
  border-radius: 8px;
}
.publishers-text{
  color: #004E00;
  background-color: #57D757;
  font-size: 20px;
  padding: 8px;
  margin-top: -30px;
}
.fadeInDown animated{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.rules-title {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #8b5cbe;
    font-size: 36px;
    font-family: 'Lemonada';
}
/*-------board-------*/
.board {
  height: 1000px;
  width: 1000px;
  border: 2px solid #9dbca6 ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #004E00;
}
.active{
  background-color: #57D757;
}
/*-------tiles-----*/
.tileContainer {
  display:  none;
  margin-top: 75px;
  margin-left: 200px;
}
.tile {
  display: block;
  border-radius: 4px;
  height: 150px;
  width: 150px;
  background-image: url("../img/woodtile.jpg");
  background-position: center;
  margin: 6px;
}
.img-A {
  display: block;
  color: white;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/tulip.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-B {
  display: block;
  color: white;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/peonie.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-C {
  display: block;
  color: white;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/daisy.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-D {
  display: block;
  color: white;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/orchid.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-E {
  display: block;
  color: white;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/snapdragon.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-F {
  display: block;
  border-radius: 8px;
  color: white;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/rose.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-G {
  display: block;
  color: white;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/dahlia.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.img-H {
  display: block;
  border-radius: 6px;
  color: white;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 6px;
  background-image: url("../img/poppy.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
/*------gameover------*/
.gameOverPlatform {
  display: none;
  text-align: center;
  background-image: url("../img/gameover1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Zeyada', cursive;
  border-radius: 8px;
}
#gameOver  {
  padding-top: 20px;
  font-size: 110px;
  font-weight: bolder;
}
#thankYou {
  font-size: 90px;
  font-weight: bolder;
}
