#topHeader {
  margin-left: 200px;
  margin-bottom: 40px;
}
.tileBack {

}

.navSection {
  height: 95px;
  background-color: #57D757;
}

#start-text{
  color: #004E00;
  margin-left: 160px;
}


#startButton {
  background-color: #004E00;
  margin-left: 160px;
  color: #57D757;
  padding: 10px;

}

#clock-text{
  color: #004E00;
  margin-left: 100px;
}

#clock {
  width: 70px;
  text-align: center;
  color: #57D757;
  background-color: #004E00;
  margin-left: 100px;
  padding: 10px;
}

#turn-text{
  color: #004E00;
  margin-left: 100px;
}

#turns {
  width: 60px;
  /*border: 2px solid black;*/
  text-align: center;
  color: #57D757;
  background-color: #004E00;
  margin-left: 100px;
  padding: 10px;
}

.gameRules{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  color: #004E00;
}
.jumbotron {
  background-color: #f90;
  margin-top: 20px;
  height: 220px;
}
body{
  /*background-color: #B7085B;*/
  background: linear-gradient(#006D00,#27B627);
}
.board {
  height: 1000px;
  width: 1000px;
  border: 2px solid #9dbca6 ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #004E00;
}

.active{
  background-color: #57D757;
}
.tile {
  display: block;
  border-radius: 4px;
  height: 150px;
  width: 150px;
  background-color: #fd7336;
  margin: 5px;
  /*background: linear-gradient(#680D8F,#CD008A);*/
}

.tileFront {
  background-color: white;
  font-size: 50px;
  padding-top: 30px;
  text-align: center;
}
.bird0-A{
  background-image: url("../img/bird.jpg");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}
.tileContainer {
  display:  none;
  margin-top: 75px;
  margin-left: 200px;
}

.rules-title {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #8b5cbe;
}

.rules-illustration{
  font-family: sans-serif;
  color: white;
}

#rules-text{
  color: #004E00;
  background-color: #57D757;
}
